
UserParameter=hybris.webpage.response.rest.health,curl -m 300 -s -i http://127.0.0.1:9001/rest/health | head -1 | cut -d " " -f 2
UserParameter=hybris.webpage.response.hac,curl -m 300 -s -i http://127.0.0.1:9001/{{ hybris_login_hac_page }} | head -1 | cut -d " " -f 2
UserParameter=hybris.webpage.response.hmc,curl -m 300 -s -i http://127.0.0.1:9001/{{ hybris_login_hmc_page  }} | head -1 | cut -d " " -f 2

UserParameter=hybris.cksum.localproperties,cksum {{ app_dir }}/hybris/config/local.properties | cut -d " " -f 1
UserParameter=hybris.cksum.localextensions,cksum {{ app_dir }}/hybris/config/localextensions.xml | cut -d " " -f 1
UserParameter=hybris.cksum.hybristomcat.java.pid,cksum {{ app_dir }}/hybris/data/hybristomcat.java.pid | cut -d " " -f 1

UserParameter=hybris.process.status,hybris_process_status=`ps axu | grep hybrisPlatform.java.status | grep -v grep | awk '{print $2}'` &&  if [ -z "${hybris_process_status}" ]; then echo 0; else echo 1; fi

UserParameter=hybris.rest.health.output,if [[ -s /tmp/hybris_rest_health ]]; then echo 1; else echo 0; fi

UserParameter=hybris.rest.ctfs.status,out01=`cat /tmp/hybris_rest_health | grep '"systemName": "CTFS"' -A 1 | grep status | cut -d":" -f 2 | tr -d '"",'` && if [ $out01 == "OK" ]; then echo 1; else echo 0; fi
UserParameter=hybris.rest.activedirectory.status,out02=`cat /tmp/hybris_rest_health | grep '"systemName": "ActiveDirectory"' -A 1 | grep status | cut -d":" -f 2 | tr -d '"",'` && if [ $out02 == "OK" ]; then echo 1; else echo 0; fi
UserParameter=hybris.rest.inventory.status,out03=`cat /tmp/hybris_rest_health | grep '"systemName": "INVENTORY"' -A 1 | grep status | cut -d":" -f 2 | tr -d '"",'` && if [ $out03 == "OK" ]; then echo 1; else echo 0; fi
UserParameter=hybris.rest.oauth.status,out04=`cat /tmp/hybris_rest_health | grep '"systemName": "OAUTH"' -A 1 | grep status | cut -d":" -f 2 |  tr -d '"",'` && if [ $out04 == "OK" ]; then echo 1; else echo 0; fi
UserParameter=hybris.rest.jms.import.status,out05=`cat /tmp/hybris_rest_health | grep '"systemName": "JMS Import"' -A 1 | grep status | cut -d":" -f 2 | tr -d '"",'` && if [ $out05 == "OK" ]; then echo 1; else echo 0; fi
UserParameter=hybris.rest.jms.warehouse.status,out06=`cat /tmp/hybris_rest_health | grep '"systemName": "JMS Warehouse"' -A 1 | grep status | cut -d":" -f 2 | tr -d '"",'` && if [ $out06 == "OK" ]; then echo 1; else echo 0; fi
UserParameter=hybris.rest.jms.order.placement.status,out07=`cat /tmp/hybris_rest_health | grep '"systemName": "JMS Order Placement"' -A 1 | grep status | cut -d":" -f 2 | tr -d '"",'` && if [ $out07 == "OK" ]; then echo 1; else echo 0; fi
UserParameter=hybris.rest.fglmessaging.consignemnt_cancel.queue.status,out08=`cat /tmp/hybris_rest_health | grep '"systemName": "fglmessaging.consignemnt_cancel.queue"' -A 1 | grep status | cut -d":" -f 2 | tr -d '"",'` && if [ $out08 == "OK" ]; then echo 1; else echo 0; fi
UserParameter=hybris.rest.fglmessaging.consignemnt_paid.queue.status,out09=`cat /tmp/hybris_rest_health | grep '"systemName": "fglmessaging.consignemnt_paid.queue"' -A 1 | grep status | cut -d":" -f 2 | tr -d '"",'` && if [ $out09 == "OK" ]; then echo 1; else echo 0; fi
UserParameter=hybris.rest.fglmessaging.consignment_return_requested.queue.status,out10=`cat /tmp/hybris_rest_health | grep '"systemName": "fglmessaging.consignment_return_requested.queue"' -A 1 | grep status | cut -d":" -f 2 | tr -d '"",'` && if [ $out10 == "OK" ]; then echo 1; else echo 0; fi
UserParameter=hybris.rest.fglmessaging.order.queue.status,out11=`cat /tmp/hybris_rest_health | grep '"systemName": "fglmessaging.order.queue"' -A 1 | grep status | cut -d":" -f 2 | tr -d '"",'` && if [ $out11 == "OK" ]; then echo 1; else echo 0; fi
UserParameter=hybris.rest.fglmessaging.order_cancel.queue.status,out12=`cat /tmp/hybris_rest_health | grep '"systemName": "fglmessaging.consignemnt_cancel.queue"' -A 1 | grep status | cut -d":" -f 2 | tr -d '"",'` && if [ $out12 == "OK" ]; then echo 1; else echo 0; fi
UserParameter=hybris.rest.jms.import.queue.product.status,out13=`cat /tmp/hybris_rest_health | grep '"systemName": "jms.import.queue.product"' -A 1 | grep status | cut -d":" -f 2 | tr -d '"",'` && if [ $out13 == "OK" ]; then echo 1; else echo 0; fi
UserParameter=hybris.rest.jms.warehouse.queue.consignment.pack.status,out14=`cat /tmp/hybris_rest_health | grep '"systemName": "jms.warehouse.queue.consignment.pack"' -A 1 | grep status | cut -d":" -f 2 | tr -d '"",'` && if [ $out14 == "OK" ]; then echo 1; else echo 0; fi
UserParameter=hybris.rest.jms.warehouse.queue.consignment.pick.status,out15=`cat /tmp/hybris_rest_health | grep '"systemName": "jms.warehouse.queue.consignment.pick"' -A 1 | grep status | cut -d":" -f 2 | tr -d '"",'` && if [ $out15 == "OK" ]; then echo 1; else echo 0; fi
UserParameter=hybris.rest.jms.warehouse.queue.consignment.return.received.status,out16=`cat /tmp/hybris_rest_health | grep '"systemName": "jms.warehouse.queue.consignment.return.received"' -A 1 | grep status | cut -d":" -f 2 |  tr -d '"",'` && if [ $out16 == "OK" ]; then echo 1; else echo 0; fi
UserParameter=hybris.rest.jms.warehouse.queue.consignment.ship.status,out17=`cat /tmp/hybris_rest_health | grep '"systemName": "jms.warehouse.queue.consignment.ship"' -A 1 | grep status | cut -d":" -f 2 | tr -d '"",'` && if [ $out17 == "OK" ]; then echo 1; else echo 0; fi
UserParameter=hybris.rest.jms.warehouse.queue.consignment.unpack.status,out18=`cat /tmp/hybris_rest_health | grep '"systemName": "jms.warehouse.queue.consignment.unpack"' -A 1 | grep status | cut -d":" -f 2 | tr -d '"",'` && if [ $out18 == "OK" ]; then echo 1; else echo 0; fi
UserParameter=hybris.rest.jms.warehouse.queue.consignment.unpick.status,out19=`cat /tmp/hybris_rest_health | grep '"systemName": "jms.warehouse.queue.consignment.unpick"' -A 1 | grep status | cut -d":" -f 2 | tr -d '"",'` && if [ $out19 == "OK" ]; then echo 1; else echo 0; fi
UserParameter=hybris.rest.jms.warehouse.queue.order.allocation.status,out20=`cat /tmp/hybris_rest_health | grep '"systemName": "jms.warehouse.queue.order.allocation"' -A 1 | grep status | cut -d":" -f 2 | tr -d '"",'` && if [ $out20 == "OK" ]; then echo 1; else echo 0; fi
UserParameter=hybris.rest.edialog.status,out21=`cat /tmp/hybris_rest_health | grep '"systemName": "EDialog"' -A 1 | grep status | cut -d":" -f 2 | tr -d '"",'` && if [ $out21 == "OK" ]; then echo 1; else echo 0; fi
UserParameter=hybris.rest.fglmessaging.auditworks_eod_extract.queue.status,out22=`cat /tmp/hybris_rest_health | grep '"systemName": "fglmessaging.auditworks_eod_extract.queue"' -A 1 | grep status | cut -d":" -f 2 | tr -d '"",'` && if [ $out22 == "OK" ]; then echo 1; else echo 0; fi
